/* <====== FONTS ======> */

@font-face {
  font-family: "Inter", sans-serif;
  src: url(../assets/fonts/static/Inter-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url(../assets/fonts/static/Inter-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url(../assets/fonts/static/Inter-Bold.ttf);
  font-weight: 800;
}

/* <========= VARIABLES =========> */

:root {
  /* <======== COLORS =======> */
  --clr-primary: hsl(75, 94%, 57%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-500: hsl(0, 0%, 20%);
  --clr-neutral-700: hsl(0, 0%, 12%);
  --clr-neutral-800: hsl(0, 0%, 8%);

  /* <======== FONT FAMILY =======> */
  --ff-regular: "Inter", sans-serif;

  /* <========= FONTS WEIGHTS  */

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 800;

  /* <========= FONTS SIZES */
  --fs-xsmall: 0.875rem; /*14px */
  --fs-small: 1rem; /* 16px */
  --fs-medium: 1.125rem; /* 18px */
  --fs-large: 1.25rem; /* 20 */
  --fs-xlarge: 1.375rem; /* 22px */
}

/* <======= CSS RESET ========> */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

/* <======== BASE CSS STYLING ========> */
body {
  font-family: var(--ff-regular);
  font-weight: var(--fw-regular);
  background-color: var(--clr-neutral-800);
  color: var(--clr-neutral-100);
}

a {
  text-decoration: none;
}

a,
a:active,
a:hover,
a:focus {
  color: currentColor;
}
