:root {
  --clr-primary: hsl(75, 94%, 57%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-500: hsl(0, 0%, 20%);
  --clr-neutral-700: hsl(0, 0%, 12%);
  --clr-neutral-800: hsl(0, 0%, 8%);

  --fs-xsmall: 0.875rem; /*14px */
  --fs-small: 1rem; /* 16px */
  --fs-medium: 1.125rem; /* 18px */
  --fs-large: 1.25rem; /* 20 */
  --fs-xlarge: 1.375rem; /* 22px */
}
